go 1.23.0

use (
	./ai_plugins
	./ai_runtime
	./examples/chat/wiring
	./examples/chat/workflow
	./examples/marketing-agency/wiring
	./examples/marketing-agency/workflow
	./examples/rag_chat/wiring
	./examples/rag_chat/workflow
	./examples/travel-planning/wiring
	./examples/travel-planning/workflow
	./examples/weather/wiring
	./examples/weather/workflow
)
