go 1.22.1

use (
	./ai_plugins
	./ai_runtime
	./examples/chat/wiring
	./examples/chat/workflow
	./examples/marketing-agency/wiring
	./examples/marketing-agency/workflow
	./examples/rag_chat/wiring
	./examples/rag_chat/workflow
	./examples/weather/wiring
	./examples/weather/workflow
)